<!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Resultado de edición de Orden</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                    <th>Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                 <tr>
                    <td><%= params %></td>
                    
                 </tr>
     
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
              <% if current_user.admin? %>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">

            <%= link_to('Editar', edit_invoice_path(@invoice), class: "btn btn-sm btn-info btn-flat pull-left") %>
            <%= link_to('Volver', invoices_path, class: "btn btn-sm btn-info btn-flat pull-right") %>
                                              
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
          <% end %> 
        </div>
