<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
        <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Didac Sports</li>
        <!-- Optionally, you can add icons to the links -->
      <li class="active"><a href="<%= invoices_path %>"><i class='fa fa-link'></i> <span>Ordenes</span></a></li>
        <!-- Optionally, you can add icons to the links -->
   
   <%  if current_user.admin? %>

        <li class="active"><a href="<%= users_path %>"><i class='fa fa-link'></i> <span>Usuarios</span></a></li>

        <% end  %>
      
      
      </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
