<!-- TABLE: OPERATION -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Detalles de la Operación</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                    <th></th>
                    </tr>
                  </thead>
                  <tbody>
                 <tr>
                    <td><pre><%=  JSON.pretty_generate(JSON.parse @operation.data.to_s.gsub("=>nil", "=>\"\"").gsub("=>", ":")) %></pre></td>
                    
                 </tr>
     
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
              
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">

            <%= link_to('Volver', operations_path, class: "btn btn-sm btn-info btn-flat pull-right") %>
                                              
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
          
        </div>
